/app/bootstrap.php.cache
/app/config/parameters.yml
/app/phpunit.xml
/bin/
/composer.phar
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/tmp/*
!var/tmp/.gitkeep
/vendor/
/web/bundles/
