### Ignore local configuration
#
/conf/*
!/conf/*.dist
/dev-auth.php


### Ignore all temporary files
#
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/tmp/*
!var/tmp/.gitkeep


### Ignore composer-installed stuff
#
/vendor/
/vendor-tmp/
#/vendor-dev/  <--- DO NOT IGNORE THIS ONE! Must see if local composer package overrides are present.
/web/assets/generated/
/node_modules/

#/app/bootstrap.php.cache
#/app/phpunit.xml
